
/* @import url("./bootstrap.min.css"); */

button[type=button] {
    height: 50px;
    width: 50px;
}

button:first-child {
    margin-left: 25px;
}

.op__area {
    height: 40px;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 1px;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #0093b1;
}


.text-center {
    border-radius: 10px;
}